#grid {
  height: 360px;
  width: 600px;
  background-color: green;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 124px);
  grid-template-columns: repeat(4, 242.5px);
}

#grid div {
  color: white;
  border: 2px solid white;
  text-align: center;
  font-weight: bold;
}

/* Grid item placements as per test */
.one {
  grid-column: span 4 / auto;
}

.two {
  grid-row: span 4 / auto;
}

.four {
  grid-column: span 2 / auto;
}

.five {
  grid-column: span 2 / auto;
}

.ten {
  grid-column: span 3 / auto;
}
